@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Montserrat:wght@300&family=Playfair+Display:wght@400;600;700&family=Poppins&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 80%;
    margin: 0 auto;
    
}
.search{
    border-radius: 8px;
    width: 35px;
}
header nav{
    margin-left: 400px;
    display: flex;
    width: 25%;
    justify-content: flex-end;
    justify-content: space-between;
}
main{
    display: flex;
}
.main{
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    font-family: 'Poppins', sans-serif;
}
.heal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.right button{
    padding: 10px 30px;
    background: #40A3F8;
    border-radius: 5px;
    color: white;
    border: none;
    width: 142px;
}
nav a{
    text-decoration: none;
    color: #6E5F5F;
}
a:hover{
    color: #40A3F8;
}
.heal h1{
    color: #40A3F8;
    font-size: 31.64px;
}
.input input{
    width: 400px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 72px;
    border: none;
}
.input select{
    width: 400px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 56px;
    border: none;
}
#doc{
    color: #40A3F8;
}
.fon div img{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
.fon{
    width: 60%;
    display: flex;
    height: 74vh;
}
.input{
    flex-direction: column;
    display: flex;
    margin-left: 130px;
    margin-top: 125px;
}
.input h1{
    font-size: 48px;
}
.input p{
    color: rgba(117, 117, 117, 0.46);
}   
main .conteiner{
    height: 20vh;
}

.things{
  font-family: "Roboto";
  display: flex;
  justify-content: space-evenly;  
}
#easy{
    font-family: "Roboto";
    margin-top: 75px;
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin-bottom: 68px;
}
.things img{
    margin-left: 70px;
}
.things div{
    text-align: left;
}
.things div h1{
    text-align: center;
}
.things div p{
    line-height: 20px;
    text-align: center;
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.things h1{
    margin-bottom: 21px;
}
.things{
    margin-bottom: 79px;
}
.comments{
    font-size: 1.5em;
    font-family: "Roboto";  
}
.comments h1{
    margin-bottom: 24px;
}
.comments p{
    color: #3D3D3FB2;
    margin-bottom: 15px;
}
.comments button{
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 16px;
    background-color:   #40A3F8;
}
.advantages{
    width: 105%;
    display: flex;
    justify-content: space-between;
     margin-top: 75px;
     font-family: "Roboto";
     margin-left: 1px;
}
.parent .conteiner>div{
    display: flex;
    justify-content: space-evenly;
}
.BEST{
    margin-top: 80px;
    margin-left: 80px;
}
.smail{
    margin-left: 10px;
}
.cardi{
    background: rgba(0, 0, 0, 0.05);
    padding-top: 80px;
    width: 349px;
    height: 316px;
}
.pul{
    background: rgba(0, 0, 0, 0.05);
    padding-top: 70px;
    width: 349px;
    height: 316px;
}
.medi{
    background: rgba(0, 0, 0, 0.05);
    width: 349px;
    padding-top: 65px;
    height: 316px;
}
#news{
    color: black;
    font-weight: 700;
}
#cate{
    color: black;
    font-weight: 700;
}
#about{
    color: black;
    font-weight: 700;
}
.our{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 180px;
    font-family: "Roboto";
}
.our p{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    margin-top: 30px;
}
.our h1{
    font-size: 42px;
}
.advantages2 h1{
    margin-top: 18px;
    margin-bottom: 25px;
}
.advantages{
    text-align: center;
}
.advantages2 p{
    text-align: center;
    line-height: 22px;
    font-size: 14px;
}
.navbar{
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}
.strelka{
    width: 100%;
    text-align: center;
    margin-top: 120px;
    font-family: "Roboto";
}
.strelka h1{
    font-size: 42px;
    margin-bottom: 47px;
}
.strelka p{
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    text-align: center;
}
.imgss{
    display: flex;
    justify-content: center;
}
.strelka img{
    margin-bottom: 16px;
}
.dentist{
    width: 247px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    width: 90%;
}
.exp{
    display: flex;
    justify-content: center;
}
.dentists button{
    color: white;
    width: 195px;
    height: 47px;
    border: none;
    background: #40A3F8;
    font-family: "Roboto";
    font-size: 18px;
}
.mobiles .conteiner>div{
    display: flex;
    justify-content: space-evenly;
}
.lookdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mobiles{
    margin-top: 220px;
}
.mobile{
    font-family: "Roboto";
    margin-top: 220px;
}
.mobile h1{
    margin-bottom: 30px;
    font-size: 30px;
}
.mobile p{
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 30px;
}
.look{
    margin-top: 120px;
}
.healtcar h1{
    font-style: normal;
font-weight: 1000;
font-size: 31.635px;
line-height: 47px;
/* identical to box height, or 149% */

letter-spacing: 1px;

color: #40A3F8;
}
.look h1{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "Roboto";
}
.smail .conteiner{
    background-image: url(./img/women-doc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
}
.smail .conteiner div{
    margin-top: 150px;
    font-family: "Roboto";
}
.div h1{
    margin-bottom: 50px;
    margin-left: 50px;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height:47px;
text-transform: capitalize;

color: #FFFFFF;

}
.div a{
    background-color: white;
    font-size: 20px;
    margin-left: 50px;
    border-radius: 5px;
    padding: 15px 15px;
    text-decoration: none;
}
.comments3{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-family: "Roboto";
}
.comments3 p{
    margin-bottom: 25px;
    color:     #646464;
    font-size: 15px;
}
.smail div a{
    font-weight: 700;
    color: #40A3F8;
}
.healtcar h1{
    font-weight: 700;
    color: #40A3F8;
    font-size: 31.64px;
    margin-bottom: 12px;
}
.comments3 input{
    width: 292px;
    height: 40px;
    padding: 20px 12px;
}

.subs{
    margin-top: 12px;
}
.subs button{
    width: 292px;
    height: 40px;
    border: none;
    background: #40A3F8;
    color: white;
    font-size: 14px;
}
#id{
    margin-bottom: 30px;
}
.input p{
    margin-bottom: 35px;
}
.menu{
    display: none;
}
.background1{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}
.off{
    
    width: 30%;
    height: 55vh;
    background: rgba(255, 254, 254);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #afafb4;
    position: relative;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}
.left.d{
    width: 49%;
}
.card div div p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.right.d2{
    width: 100%;
}
.q2{
    width: 50px;
}
.card>img{
    width: 35%;
    margin: 5px auto;
}
.left.d{ 
    display: flex;
    justify-content: space-between;
}
.leftd2{
    justify-content: space-between;
    display: flex;
}
.card>div p{
    margin-top: 5px;
}  
.footerbottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
}










@media (max-width: 576px) {
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Montserrat:wght@300&family=Playfair+Display:wght@400;600;700&family=Poppins&family=Roboto:wght@300&display=swap');
    .lookdiv{
        display: none;
    }
    header .conteiner nav{
        display: none;
    }
    header .conteiner .right{
        display: none;
    }
    .comments{
        display: flex;
        flex-direction: column;
    }
    .things{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .comments3{
        flex-wrap: wrap;
    }
    .comments>img{
        width: 100%;
        height: 50vh;
    }
    .comments button{
        width: 100%;
        font-size: 30px;
        margin-left: 1px;
    }
    .input input{
        font-size: 24px;
    }
    .input select{
        font-size: 20px;
    }
    .things div h1{
        font-size: 30px;
    }
    .things div p{
        font-size: 25px;
        line-height: 25px;
        margin-left: 54px;
    }
    .conteiner{
       width: 95%; 
    }
    .our{
        width: 100%;
        text-align: center;
    }
    .advantages div h1{
        font-size: 35px;
        margin-left: 20px;
    }
    .advantages div p{
        font-size: 20px;
        line-height: 20px;
    }
    .pul{
        margin: 5vh 0;
    }
    .healtcar{
        text-align: center;
    }
    .footerbottom{
        flex-wrap: wrap;
        margin: 2vh 0;
        width: 80%;
    }
    .our h1{
        font-size: 40px;
    }
    .our p{
        font-size: 25px;
        line-height: 25px;
    }
    .menuh{
        width: 100%;
        justify-content: space-between;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .heal h1{
        font-size: 50px;
    }
    .menu{
        width: 10vh;
        display: inline-block;
    }
    .main{
        width: 110%;
     }
     .advantages{
        display: flex;
        flex-direction: column;
     }
    .strelka{
        margin-left: 30px;
    }
    .dentists button{
        margin-left: 30px;
    }
     #nav{
        margin-left: 60px;
     }
    .fon{
        display: none;
    }
    .mobiles{
        margin-top: 2vh;
    }
    .background1{
        flex-direction: column;
    }
    .background1 div{
        width: 100%;
    }
    .smail .conteiner{
        background-position: right;
    }
    .look h1{
        margin-left: 50px;
        text-align: center;
        width: 60%;
        font-size: 35px;
    }
    .mobile{
        margin-top: 2vh;
    }
    main{
        width: 100%;
        display: flex;
        height: fit-content;
    }
    .input{
        width: 100%;
        text-align: left;
        margin-left: 8px;
    }
    .input h1{
        font-size: 42px;
    }
    .mockup {
        display: flex;
        flex-direction: column;
    }
    .input p{
        width: 100%;
        font-size: 22px;
    }
    .dentist{
        display: none;
    }
    .things div img{
        width: 60%;
    }
    #easy{
        font-size: 38px;
    margin-left: 20px;
    }
}